@{
    ViewData["Title"] = "GetRhymes";
}
@{
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h1 class="display-4">Пошук рим</h1>
</div>

@*<form action="/Rhymes/GetRhymes" method="get" class="text-center">
    <input type="text" name="word" placeholder="Введіть слово...">
    <button type="submit">Шукати</button>
</form>*@

<form class="text-center">
    <input type="text" id="word" placeholder="Введіть значення...">
    <button type="button" onclick="getData()">Надіслати</button>
</form>

<div id="result"></div>

<p>@Html.Raw(Model)</p>

<script>
    function getData() {
        var inputValue = document.getElementById("word").value;
        var url = "/Rhymes/GetRhymes?word=" + inputValue;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("result").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }
</script>





